{{#> layout}}

<section class="form border border-primary">
    <form action="add-collections" method="post">
       <h1>Add Collections</h1> 

    <div>
        <label for="email">Title</label>
        <input type="email"  class="form-control" name="email" id="email" placeholder="School">
    </div>
   
    <div class="d-grid gap-2 col-6 mx-auto">

    <button type="submit" class="btn btn-light btn-sm"> Post</button>
</div>
    </form>
    
</section>

{{/layout}}