{{#> layout}}

<section class="form border border-primary">
    <form action="/register" method="post">
       <h1>Register</h1> 

    <div>
        <label for="username">Username</label>
        <input type="text"  class="form-control" name="username" id="username" placeholder="Example">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email"  class="form-control" name="email" id="email" placeholder="Examle@gmail.com">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password"  class="form-control" name="password" id="password" placeholder="Min 6 characters">
    </div>
<div class="d-grid gap-2 col-6 mx-auto">

    <button type="submit" class="btn btn-light btn-sm"> Register </button>
</div>
    </form>

  
</section>

{{/layout}}