<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../assets/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/fontawesome/css/all.css">
    <link rel="stylesheet" href="../../../assets/CSS/style.css">
    <title>Document</title>
</head>
<body>

<section class="form border border-primary">
    <form action="/login" method="post">
       <h1>Login</h1> 

    <div>
        <label for="email">Email</label>
        <input type="email"  class="form-control" name="email" id="email" placeholder="Examle@gmail.com">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password"  class="form-control" name="password" id="password" placeholder="Min 6 characters">
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">

    <button type="submit" class="btn btn-light btn-sm"> Login </button>
</div>
    </form>
      <p>Don,t have account <a href="/">Register</a></p>
</section>  
 
 <script src="../../../assets/JS/bootstrap.bundle.min.js"></script>
</body>
</html>