{{#> layout}}

<main>
    <h1>Collections</h1>

    <div class="flex-card">
        <div class="card">
            <div class="header">

            <i class="fa-solid fa-list-check"></i>
            </div>
            <p>school</p>
            <div class="bottom">
            <p>2/9 done</p>
            <i class="fa-solid fa-clock"></i>
            </div>
        </div>

    <div class="add"><a href="/add-collections">+</a></div>
    </div>
</main>

{{/layout}}