{{#> layout}}
<style>


</style>

<div class="container mt-5">
    <!-- Task Section -->
    <div class="card p-4 task-section">
        <!-- Header -->

        <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="d-flex">


                <button>
                    <i class="fa-solid fa-chevron-left fs-4" style="color: rgb(21, 57, 88);"></i>
                </button>


                <h5 class="task-title">Work</h5>
            </div>

        </div>

        <!-- Task Input -->
        <form action="/task" method="post">
            <div class="input-group mb-3">
                <button type="submit" class="input-group-text" id="inputGroup-sizing-default"><i class="fa-solid fa-plus"></i></button>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" name="name">
            </div>
        </form>

        <!-- Task List -->
        <h3>Task-3</h3> 
        <div class="task-list"> 
            <ul class="list-group task-list">
                {{#each task}}
                <li class="list-group-item d-flex justify-content-between align-items-center task-item">
                    <span>{{this.name}}</span>
                    <div>

                        <button type="submit">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                        <input type="checkbox" class="form-check-input">
                    </div>
                    {{/each}}
            </ul>
        </div>
        <h3>Completed-2</h3>
        <div class="completed-list">

        </div>

    </div>
</div>

{{/layout}}